@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200&family=Staatliches&display=swap');

:room {
  --primario: #9c27b0;
  --primarioOscuro: #89119D;  /* Corregido el nombre de la variable */
  --secundario: #FFCE00;
  --secundarioOscuro: rgb(233, 287, 2);
  --blanco: #FFF;
  --negro: #000;

  --fuentePrincipal: 'Staatliches', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;    /**para poder colocar solo medidas en rem**/

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }  

  /**globales**/
  body{
     background-color: #9c27b0;
     font-size: 1.2rem;
     line-height: 1.5;
  }
  p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
  }
  a{
    text-decoration: none;
  }
  img{
        max-width: 100%;
  }
  .contenedor{
    max-width: 120rem;
    margin: 0 auto;
  }

  h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3.2rem;
  }
  h3{
    font-size: 2.4rem;
  }

  /**Header**/
  .header{
    display: flex;
    justify-content: center;
  }
  .header__logo{
   width: 20rem;
   margin-top: 2rem;
  }
  /**Footer**/
  .footer{
    background-color: #89119D;
    font-family: 'Staatliches', sans-serif;
    margin: 2rem 0 ;
    padding:2rem;
  }
  .footer__texto{
    text-align: center;
    color: #FFF;
    font-size: 2.2rem;
  }

  /**Navegación**/
  .navegacion{
    padding: 0rem;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    background-color: #89119D;
  }
  .navegacion__enlace{
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .navegacion__enlace--activo,
  .navegacion__enlace:hover{
    color: #FFCE00;
  }
  .navegacion__enlace:last-of-type{
    margin-right: 0;
  }


  /**Main**/
  .contenedor{
    font-family: 'Staatliches', sans-serif;
    color: #FFCE00;
  }
  /**Grid**/
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 1rem;
  }
  @media (min-width: 480px) {
      .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;   /**Manejamos el grid a nuestro antojo en este caso 3 colum en 1 fraccion**/
        gap: 1rem 1rem;
        width: 60%;
        margin: auto;
      }
  }

  /**Productos**/
  .producto{
    background-color: #89119D;
    padding: 1rem;
  }
  .producto__imagen{
    width: 100%;
  }
  .producto__informacion{

  }
  .producto__nombre{
    font-size: 2.3rem;
  }
  .producto__precio{
    font-size: 2rem;
    color: #FFCE00;
  }
  .producto__nombre,
  .producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
  }

  /**Gráficos**/
  .grafico{
    min-height: 30rem;
  }
  .grafico--camisas{
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url(../img/grafico1.jpg);
  }
  .grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1/3;
    grid-row: 7/8;
  }
  @media (min-width: 480px) {
    .grafico--node{
      grid-row: 5/6;
      grid-column: 2/4;
    } 
  }


  /**Nosotros**/
  .gridNosotros__texto{
    color: #FFF;
    padding: 1.5rem;
   
  }
  .gridNosotros__img{
    width: 100%;
  } 
 
  @media (min-width: 480PX) {
    .gridNosotros{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      width: 70%;
      margin: auto;
    }
    .gridNosotros__img{
      width: 100%;
      grid-row: 1/2;
      grid-column: 2/3;
    } 
    .gridNosotros__texto{
      color: #FFF;
      padding: 1.5rem;
      grid-row: 1/2;
    }
  }
  @media (min-width: 768px) {
      .gridNosotros{
        width: 70%;
      }
      .gridNosotros__texto{
      color: #FFF;
      padding: 1rem;
    }
    .gridNosotros__img{
      margin-top: 3rem;
      width: 100%;
    } 
  }
  @media (min-width: 1440px) {
    .gridNosotros__img{
      margin-top: 0rem;
      width: 100%;
    } 
    body{
      margin: auto;
      align-items: center;
    }
  }

  /**Iconos**/ 
  .iconos{
    text-align: center;
  }
  .iconos__text1{
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
    margin-top: auto;
  }
  @media (min-width: 480px) {
    .iconos{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 10rem;
      margin: auto;
      width: 100rem;
    }     
    .iconos__text1{
      font-family: var(--fuentePrincipal);
      text-align: center;
      font-size: 2rem;
      margin-top: auto;
    }
    .iconos__text2{
      color: #FFF;
      font-size: 1.2rem;
    }
  }
      @media (min-width: 768px) {
          .iconos{
            width: 80%;
            margin: auto;
          }
      }
      @media (min-width: 1440px) {
          .iconos{
            width: 70%;
          }
      }
      
      
      
      /**Formulario de seleccion**/
    

      .formulario__seleccion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
      }
      .formulario__numero{
        margin-right: 0;
        grid-row: 2/3;
        grid-column: 2/3;
        border-color: #89119D;
        border-width: 0.5rem;
        border-style: solid;
        color: #FFF;
        padding: .5rem 0rem;
        background-color: transparent;
        font-size: 1.5rem;
        font-family:Georgia, 'Times New Roman', Times, serif
      }
      .formulario--carrito{
        margin-top: 1.5rem;
        grid-row: 3/4;
        grid-column: 1/3;
        background-color: yellow;
        border: none;
        font-size: 1.5rem;
        font-family: var(--fuentePrincipal);
        padding: 1rem;
        transition: background-color .3s ease;
      }          
      .formulario--carrito:hover{
        cursor: pointer;
        background-color:rgb(202, 202, 71);
      }
      .formulario__option{
        grid-row: 2/3;
        grid-column: 1/2;
        border-color: #89119D;
        border-width: 0.5rem;
        color: #FFF;
        background-color: transparent;
        font-size: 1.5rem;
        font-family:Georgia, 'Times New Roman', Times, serif
      }
      .formulario__texto{
        grid-column: 1/3;
        padding: 1.5rem;
      }
      .formulario__img{
        width: 100%;
      }
      
      @media (min-width: 480px) {
        .formulario{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 70rem;
          margin-left: 25rem;
          margin-bottom: 5rem;
        }
        .formulario__texto{
          font-size: 1.5rem;
          color: #FFF;
          grid-row: 1/2;
          grid-column: 1/3;
          margin: 0;
          padding: 0rem;
        }
        .formulario__img{
          width: 80%;
          margin: 0rem 5rem;
        }
        .formulario__seleccion{
          font-size: 1rem;
          grid-row: 1/2;
          grid-column: 2/3;
        }
        
        .formulario__option{
          border-color: #89119D;
          border-width: .8rem;
          color: #FFF;
          padding: 0rem;
          background-color: transparent;
          font-size: 1.5rem;
          font-family:Georgia, 'Times New Roman', Times, serif
        }
        .formulario__numero{
          margin: 0;
          align-items: baseline;
          border-color: #89119D;
          border-width: .8rem;
          border-style: solid;
       
          color: #FFF;
          background-color: transparent;
          font-size: 1.5rem;
          font-family:Georgia, 'Times New Roman', Times, serif
        }
  
        .formulario--carrito{
          margin: 0rem;
          background-color: yellow;
          border: none;
          font-size: 2rem;
          font-family: var(--fuentePrincipal);
          padding: .5rem;
          transition: background-color .3s ease;
        }          
        .formulario--carrito:hover{
          cursor: pointer;
          background-color:rgb(202, 202, 71);
        }
      }
        
      @media (min-width: 768px) and (max-width: 1024px) {
        .formulario{
          margin-top: 10rem;
          margin-left: 0rem;
          margin-bottom: 15rem;
        }
        .grid{
          width: 70rem;
        }
      }
